div > p {
  /* color: red; */
}

/* section p {
  color: blue;
} */
section > p {
  color: blue;
}

:root {
  --background: rgb(231, 231, 255);
  --border: rgb(226, 226, 255);
  --text: 20px;
  --active-bg: rgb(124, 124, 183);
  --padding: 20px;
}

.box {
  width: 20vmax;
  margin: 40px auto;
  display: flex;
  gap: var(--text);
  background-color: var(--background);
  padding: var(--padding);
  border: 2px solid var(--border);
  border-radius: 15px;
}

.box p{
    font-size: var(--text);
    transition: 2s;
}

.box input:checked + p {
  text-decoration: line-through;
}
